*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.BuenosAires {
    margin-top: 5em;
    height: 500px;
    background: rgb(0, 0, 0, 0.5) url(../imagenes_integrador_front-_1_/ba1.jpg);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    
}
.text-hero{
    width: 500px !important;
    float: end;

}
.color-btn{
    background-color: rgb(39, 143, 39);
}
footer{
    background: #1e516e;
}
